<%- include('../inc/header') %>

    <ul class="list-group m-2">
        <li class="list-group-item active center" aria-current="true">User informations</li>
        <li class="list-group-item"><strong>Username:</strong>
            <%= user.username %>
        </li>
        <li class="list-group-item"><strong>Email:</strong>
            <%= user.email %>
        </li>
        <li class="list-group-item"><strong>Role:</strong>
            <%= user.role %>
        </li>
    </ul>


    <div class="task-input form-btn">
        <a class="clear-btn" href="/">See all tasks</a>

        <form action="/auth/logout" method="post">
            <button class="clear-btn" type="submit">Logout</button>
        </form>
    </div>
    <%- include('../inc/footer') %>