<%- include('../inc/header') %>

    <h1 class="center">
        <%= task.name %>
    </h1>

    <span class="date">
        <%= task.date %>
    </span>

    <p class="descrition">
        <%= task.description %>
    </p>

    <span class="status">
        Is completed: <%= task.is_completed %>
    </span>
    <br><br>

    <div class="task-input form-btn">
        <a class="clear-btn" href="/">Go Back</a>
    </div>

    <%- include('../inc/footer') %>